@import
url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');
:root{
--azulclaro: #48D6ED;
--azuloscuro: #337AB7;
--azulnegro: #303342;
--negro: #333333;
--negro2: #000;
--gris: #B2B3B3;
--fondo: #FFFEFC;
--verdeazul: #157A8A;
--Magenta: #9C2759;
--blanco: #fff;
--degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
#container-grid{
    display: grid;
    grid-template:
    "nav" auto
    "inicio" auto
    "hote"auto
    "features" auto
   "ubicanos" auto
   "opiniones" auto
"footer" auto
   
   }
   @media screen and (min-width: 300px) and (max-width: 500px){

    nav {
        grid-area: nav;
        display: grid;
        grid-template-areas:
            "logo"
            "menu";
        font-family: 'Marcellus', serif;
        font-size: 1.3em;
  
    }
.logo{
grid-area:logo;
display:grid;
grid-template-columns: auto auto;
grid-template-rows:auto; 
grid-template-areas:
"logo-img menu bars";
background-color:var(--negro);
padding:1rem;  
}
.logo img{
    justify-self:start;
    width:50%;
    max-width:180px;
}
.logo i{
    grid-area:menu-bars;
    justify-self:end;
    color: var(--blanco);
    font-size:2rem ;  
}
.menu{
    grid-area:menu;
    display:grid;
    background-color: rgba(1, 10, 52, 0.838);
}
.menu-hr{
width:90%;
background-color:var(--blanco);
justify-self:center;
}
.item{
    padding:1rem 0;
}
nav a{
    color:var(--blanco);
    text-decoration:none;
    text-align:center;
}

nav a:hover{
    background-color: #0B3860;
    width: 100%;
}
.navbar-botton{
    background-color: var(--azuloscuro);
    border-radius: 3px;
padding: 0.5rem;
    color: var(--blanco);
 font-family: 'Marcellus', serif;
 font-size: 1em;

}
.arriba {
    transform: scale(1);
    transition: all 0.5s;
    transform: translateY(-100vw);
    display: none;

}


}
@media screen and (min-width: 1024px){
  
    nav{
       
        background-color: var(--negro);
        display: grid;
        grid-template-columns:auto auto;
        justify-content: space-between;
        
        font-family: 'Marcellus', serif;
        font-size: 1.3rem;
       
    }
    .logo{
        padding: 1rem;
       }
       
       .logo img{
        width: 100%;
        max-width: 180px;       
       }
       
       .logo i{ 
        display: none;
       }
       .menu-hr{ 
        display: none;
    }
     
     .menu{
        background-color: var(--negro);
        display: grid;
        grid-template-columns:auto auto auto auto;
       
    }
   
    .menu a {
        margin: 0 1rem;
        align-self: center;
        color: var(--blanco);
 text-decoration: none;

    }
    
    nav a:hover{
        background-color: #0B3860;
        width: 100%;
       }
     
    .navbar-botton {
        width: 210px;
 
 background-color: var(--azuloscuro);
 color: var(--blanco);
 font-family: 'Marcellus', serif;
 font-size: 90%;

    }}
    @media screen and (min-width: 1024px){
        #inicio{
         background-image: url(../img/slide1.jpg);
         background-size: cover;
         display: grid;
       
         height: 72vh;
         width: 100%;
        }
        
        .ini{
         background-color: rgba(0,0,0,0.35);
         display: grid;
         align-self: end;
         
         color: white;
         width: 91%;
         padding: 2.1em;
         font-size: 250%;
        }
        }
        
        /*responsive  movil*/
        @media screen and (min-width: 300px) and (max-width:500px){
        #inicio{
         background-image: url(../img/slide1.jpg);
         background-size: 110%;
         
         display: grid;
         height: 150px;
        align-self: end;
         background-repeat: no-repeat;
         font-size: 100%;
         
        }
        
        .ini{
         background-color: rgba(0,0,0,0.35);
         display: grid;
         align-self: end;
         color: white;
         height: 50px;
         width: 100%;
         font-size: 90%;
         margin: 0rem;
        }
        }
        @media screen and (min-width: 1024px){
            .info{
             
             margin: 1rem;
             padding: 2rem;
             text-align: justify;
             display: grid;
        grid-template-columns:auto auto;
        justify-content:  space-around;
            }
            }
            
            /*Responsive movil*/
            @media screen and (min-width: 300px) and (max-width:500px){
            .info{
             justify-content: space-around;
             display:grid;
             margin: 1rem;
             font-size: 80%;
             text-align: justify;
             height: 60%;
             width: 90%;
            }
            
            .info img{
             display: none;
            }
            }
            
            @media screen and (min-width: 1024px){
            #features{
             background: url(../img/bg-features.png);
             color: white;
             padding-top:1rem;
            }
            
            .features-title{
             background-color: rgba(0,0,0,0.35);
             text-align: center;
             padding: 0.5rem;
             font-size: 1.5rem;
            }
            
            .features-description{
             display: grid;
            
        grid-template-columns:auto auto auto auto;
             justify-content: space-around;
            }
            
            .feature{
             width: 25%;
             min-width: 180px;
             max-width: 230px;
             margin: 0.8rem;
             padding: 1rem;
             display: grid;
            
             justify-content: center;
             align-items: center;
            text-align: center;
             border-radius: 5px;
            }
            
            .feature i{
             font-size: 2.2em;
             margin-bottom: 1.5rem;
            }
            
            .feature-blue{
             background-color: #00325eae;
            }
            
            .feature-black{
             background-color: rgba(0,0,0,0.59);
            }
        }
            
            
            @media screen and (min-width: 300px) and (max-width:500px){
            #features{
             background: url(../img/bg-features.png);
             color: white;
             padding-top:1rem;
            }
                       
            .features-title{
             background-color: rgba(0,0,0,0.35);
             text-align: center;
             padding: 0.5rem;
             font-size:90%;
            }
                       
            .features-description{
             display:flex;
             font-size: 70%;
             flex-wrap: wrap;
             justify-content: space-around;
             grid-template-columns: auto auto auto auto ;
         
            }
                       
            .feature{
             width: 25%;
             min-width: 100px;
             max-width: 30px;
             margin: 0.5rem;
             padding: 1rem;
             display:grid;
             grid-template-rows:auto auto auto auto;
             align-items: center;
             text-align: center;
             border-radius: 5px;
            }
                       
            .feature i{
             font-size: 2.2em;
             margin-bottom: 0.5rem;
            }
                       
            .feature-blue{
             background-color: #00325eae;
            }
                       
            .feature-black{
             background-color: rgba(0,0,0,0.59);
            }
            }
            
            @media screen and (min-width: 1024px){
            #ubicanos{
             display:grid;
             grid-template-columns: auto;
             align-items: center;
             padding: 2rem;
             text-align: center;
             font-size: 150%;
            }
            }
            
            @media screen and (min-width: 300px) and (max-width:500px){
            #ubicanos{
             margin: 1rem;
             display: grid;
             grid-template-columns: auto;
             align-items: center;
             padding: 0.5rem;
             text-align: center;
             font-size: 90%;
            }
            
            .map-responsive{
             overflow:hidden;
             padding-bottom:56.25%;
             position:relative;
             height:0;
             width: 320px;
            }
            }
                        
            @media screen and (min-width: 1024px){
                #opiniones{
                    color: white;
                    padding-top: 1rem;
                    width: 100%;
                    font-size: 100%;
                   }
                   
                   .op{
                    background-color: #000;
                    font-size: 150%;
                    text-align: center;
                    padding: 2.2rem;
                   }
                   
                   .opc{
                    display: grid;
                   
            grid-template-columns: auto auto auto;
       
             justify-content: space-around;
                   
                   
                   }
                   
                   .diego{
                    background-image: url(../img/azul2.jpg);
                    margin: 3rem;
                    padding: 0rem;
                    width:85%;
                    background-repeat: no-repeat;
                    margin-top: -32px;
                    display: grid;
                    grid-template-rows: auto auto;
                   }
                   
                   .m{
                    display: grid;
                    grid-template-columns: auto auto;
                    flex-wrap: wrap;
                   }
                   
                   .s{
                    display: grid;
                    grid-template-columns: auto auto auto auto auto;
                    justify-content: space-around;
                     }
            }
            
            @media screen and (min-width: 300px) and (max-width:500px){
            #opiniones{
             color: white;
             padding-top: 1rem;
             font-size: 100%;
            }
                               
            .op{
             background-color: #000;
             font-size:90%;
             text-align: center;
             width: 80%;
             padding: 2rem;
            }
                               
            .opc{
             display: grid;
            
             justify-content: space-around;
             flex-direction: column;
            }
                               
            .diego{
             background-image: url(../img/azul2.jpg);
             margin: 0.6rem;
             padding: 1rem;
             width: 80%;
             height: 80%;
             background-repeat: no-repeat;
             display: grid;
             grid-template-columns: auto auto auto;
            }
            
            .m{
              display: grid;
              justify-content: space-around;
              grid-template-columns: auto auto;
              width: 100%;
             }
            
             .s{
              display: flex;
              flex-direction: row 
               }
            }
            
            @media screen and (min-width: 1024px){
            #footer{
             color: white;
             padding-top: 1rem;
             width: 100%;
            }
            
            .footer-hr{ 
              display: none;
             }
            
            .tor{
             display: grid;
             background-color: #000;
             justify-content: space-around;
             grid-template-columns: auto auto auto;
            }
            
            .f{
             display: grid;
             margin: 1rem;
            }
            }
            
            @media screen and (min-width: 300px) and (max-width:500px){ 
            #footer{
             color: white;
             padding-top: 1rem;
             width: 100%;
             font-size: 90%;
            }
            .footer-hr{ 
                width:420px;
               } 
                                               
            .tor{
             display: grid;
             background-color: #000;
             justify-content: space-around;
             grid-template-columns: auto ;
             width:400px;
            }
                                               
            .f{
             display: flex;
             margin: 1rem;
            }
            }
   
      
    
     
    
      
    
    