<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>HOTELIA</title>
</head>
<body>
        <section id="listado">
            <div class="lis">
            <div class="ha">
                <div class="lis1">
               <center> <img width="150px" height="150px" src="../img/Hotelia horizontal blanco.svg "></center>
                <img width="70px" height="78px" src="../img/p.png ">Angie Vargas<br>
                   angievargas2@gmail.com</p> 
                 </div>   
                <div class="ico4">
                   <p><i class="fa-solid fa-bed"></i>Habitaciones</p>
                   <p><i class="fa-solid fa-bed"></i>Registrar habitaciones</p>
                   <p><i class="fa-solid fa-pencil"></i>Editar perfil</p>
                   </div>
                <div class="hi1">
                <p><i class="fa-solid fa-arrow-right-from-bracket"></i>Cerrar sesion </p>   
                </div> 
                
           
           </div>
           <div class="ly">
            <div class="tit3">
                <h1>Busqueda habitaciones</h14>
            </div>
            <br>
            <div class="l1">
                <div>
                    
                    
                    
                    <label>Entrada</label>
                    <br>
                    <input type="date" name="tipo">
                    <br>
                    <label>Salida</label>
                        <br>
                        <input type="date" name="tipo">
                    
                        <br>
                        <label>Adultos</label>
                        <br>   
                        <input type="text" name="nombre">
                        <label>Niños</label>
                    <br>   
                    <input type="text" name="nombre"> 
                    <br> 
                </div>
                
                
            <div class="opc2">
                <div class="diego4">
                    <div class="m4">
                        <div>
                        <img width="170" height="150" src="../img/hi.jpg">
                        <h1 class="ini1">habitacion doble
                        </h1>
                        </div>
                        <br>    
                        <div>
                        <h3>$250.000</h3>
                    </div>
                     </div>  
                    <div class="bt">
                        <button class="b1">Reservar</button>
                        
                        </div>
                </div>
                <div class="diego4">
                    <div class="m4">
                        <div>
                        <img width="170" height="150" src="../img/hi.jpg">
                        <h1 class="ini4">habitacion doble
                        </h1>
                        </div>
                        <br>    
                        <div>
                        <h3>$250.000</h3>
                    </div>
                     </div>  
                    <div class="bt">
                        <button class="b1">Reservar</button>
                        
                        </div>
                </div>
                
        <div class="opc2">
            <div class="diego4">
                <div class="m4">
                    <div>
                    <img width="170" height="150" src="../img/hi.jpg">
                    <h1 class="ini4">habitacion doble
                    </h1>
                    </div>
                    <br>    
                    <div>
                    <h3>$250.000</h3>
                </div>
                 </div>  
                <div class="bt">
                    <button class="b1">Reservar</button>
                    
                    </div>
            </div>
            <div class="diego4">
                <div class="m4">
                    <div>
                    <img width="170" height="150" src="../img/hi.jpg">
                    <h1 class="ini4">habitacion doble
                    </h1>
                    </div>
                    <br>    
                    <div>
                    <h3>$250.000</h3>
                </div>
                 </div>  
                <div class="bt">
                    <button class="b1">Reservar</button>
                    
                    </div>
            </div>
           
           
           </div>
           
           
        
        </section>
       
           
            
              </body>
              </html>