<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>HOTELIA</title>
</head>
<body>
        <section id="listado">
            <div class="lis">
            <div class="ha">
                <div class="lis1">
                    <br>
                    <p><img src="../img/hotelia campana.svg"><b>otelia</b></p>
                    <br>
                    <br>
                <p><img  src="../img/p.png "> <b>Angie Vargas<br>
                   angievargas2@gmail.com</b></p> 
                 </div>   
                <div class="ico4">
                   <p><i class="fa-solid fa-bed"></i><b>Habitaciones</b><a></p>
                   <p><i class="fa-solid fa-bed"></i><b>Registrar habitaciones</b></p>
                   <p><i class="fa-solid fa-pencil"></i><b>Editar perfil</b></p>
                   </div>
                <div class="hi1">
                <p><i class="fa-solid fa-arrow-right-from-bracket"></i> <b>Cerrar sesion </b></p>   
                </div> 
          </div>
          
           <div class="ly4">
            <div class="tit3">
                <h1>Busqueda de habitaciones</h14>
            </div>
            <br>
            <div class="fi5">
            <div class="l1">
                <div class="l2">
                    
                    
                    
                    <label>Entrada:</label>
                    
                    <input type="date" name="tipo">
                    <br>
                    <br>
                    <br>
                    <br>
                    <label>Salida:</label>
                        <br>
                        <input type="date" name="tipo">
                        <br>
                        <br>
                        <br>
                        <br>
                        <label>Adulto:</label>
                       
                        <input type="text" name="nombre">
                        <br>
                        <br>
                        <br>
                        <br>
                        
                        <label>Niños:</label>
                       
                    <input type="text" name="nombre"> 
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="bt2">
                        <button class="b7">Ver habitaciones disponibles</button>
                        
                    </div>    
                </div>
             </div>   
            <div class="uy">    
            <div class="opc2">
                <div class="diego4">
                    <div class="m4">
                        <div>
                        <img width="170" height="150" src="../img/hi.jpg">
                        <h1 class="ini3">habitacion doble
                        </h1>
                        </div>
                        <br>    
                        <div>
                        <h3>$250.000</h3>
                    </div>
                     </div>  
                   
                         <div class="bt">
                        <button class="b1">Reservar</button>
                        </div>
                </div>
                <div class="diego4">
                    <div class="m4">
                        <div>
                        <img width="170" height="150" src="../img/hi.jpg">
                        <h1 class="ini3">habitacion doble
                        </h1>
                        </div>
                        <br>    
                        <div>
                        <h3>$250.000</h3>
                    </div>
                     </div>  
                    <div class="bt">
                        <button class="b3">Reservar</button>
                        
                        </div>
                </div>
                        </div>
                        <br>
             <br>   
        <div class="opc3">
            <div class="diego4">
                <div class="m4">
                    <div>
                    <img width="170" height="150" src="../img/hi.jpg">
                    <h1 class="ini3">habitacion doble
                    </h1>
                    </div>
                    <br>    
                    <div>
                    <h3>$250.000</h3>
                </div>
                 </div>  
                <div class="bt">
                    <button class="b1">Reservar</button>
                    
                    </div>
            </div>
            <br>
            <div class="diego4">
                <div class="m4">
                    <div>
                    <img width="170" height="150" src="../img/hi.jpg">
                    <h1 class="ini3">habitacion doble
                    </h1>
                    </div>
                    <br>    
                    <div>
                    <h3>$250.000</h3>
                </div>
                 </div>  
                <div class="bt">
                    <button class="b3">Reservar</button>
                    
                    </div>
            </div>
        </div>
           </div>
           
           </div>
           
           </div>
        
        </section>
       
           
            
              </body>
              </html>