<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>HOTELIA</title>
</head>
<body>
    <section id="dashboard">
        <div class="dash">
        <div class="an">
            <div class="an1">
                <br>
            <p><img src="../img/hotelia campana.svg"><b>otelia</b></p>
            <br>
            <h3><b>Angie Vargas</b></h3>
               <p><b>angievargas2@gmail.com</b></p> 
             </div>   
            <div class="ico">
                <p><a href="form-hab.html"><i class="fa-solid fa-bed"></i><b>Habitaciones</b></p></a>
               <p><i class="fa-solid fa-bell-concierge"></i><b>Reservas</b></p>
               <p><i class="fa-solid fa-bed"></i><b>Habitaciones</b></p>
               <p><i class="fa-solid fa-bell-concierge"></i><b>Habitacione</b></p>
               </div>
            <div class="h">
            <p><i class="fa-solid fa-arrow-right-from-bracket"></i><b>Cerrar sesion</b></p>   
            </div> 
        </div>
 
        
       
        <div class="in">
        <div class="in1">
            <div class="y">
                <div class="d">
                    <img src="../img/ñ.png">
                    <br>
                    <div class="sub">
                    <i class="fa-solid fa-file-arrow-up"></i><i class="fa-solid fa-download"></i>
                </div>
                    <br>
                    <button class="v"><a href="" class="z">Cambiar contraseña</a></button>
                </div>
                <div> 
                    <h1>Bienvenid@, Angie Vargas</h1>
            <label>Tipo de documento:</label>
                <br>   
                <input type="text" name="tipo"  value="Cédula de ciudadanía">
                <br>
                <label>Nombres:</label>
                <input type="text" name="tipo" value="Angie Camila">
                <br>
                <label>Fecha de nacimiento:</label>
                <input type="text" name="fecha" value="10/08/1976">
                <br>
                <label>Genero</label>
                <br>
                <div class="l">
                    <input  name="genero" type="radio" value="" checked> Mujer 
                        <input name="genero" type="radio">Hombre
                        <input name="genero" type="radio">Otro 
                </div>
                <label>Email:</label>
                <input type="email" name="correo" value="angievargas2@gmail.com" >
                <br>
                <button class="o"><a href="" class="w">Actualizar</a></button>
                <br>
                <label>Contraseña:</label>
                <input type="password" name="con">
            </div>
             <div>
                <label>Numero de documento:</label>
                <input type="number" name="doc" value="1025417456">
                <br>
                <label>Apellidos:</label>
                <input type="text" name="apellidos" value="Vargas Pinzon">
                <br>
                <label>Pais de origen:</label>
                <input type="email" name="correo" value="Colombia" >
                <br>
                <label>Telefono de contacto:</label>
                <input type="text" name="telefono" value="3135207460">
                <br>
                <label>Confirmar contraseña:</label>
                <input type="password" name="contr">
                <br>
             <button class="o"><a href="" class="w">Cambiar</a></button>
             </div>
        
    </div>
    </div>
</div>
</div>
    </section>
        
      </body>
      </html>      