<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>HOTELIA</title>
</head>
<body>
        <section id="habitacion">
            <div class="hab">
            <div class="ha">
                <div class="hab1">
                    <p><img src="../img/hotelia campana.svg"><b>otelia</b></p>
    <br>
    
               <p><img  src="../img/p.png "> <b>Angie Vargas<br>
                angievargas2@gmail.com</b></p> 
                 </div>   
                <div class="ico1">
                   <p><a href="list-hab.html"><i class="fa-solid fa-bed"></i><b>Habitaciones</b></p></a>
                   <p><i class="fa-solid fa-bed"></i><b>Mis reservas</b></p>
                   <p><a href="dashboard.html"><i class="fa-solid fa-pencil"></i><b>Editar perfil</b></p></a>
                   </div>
                <div class="hi">
                <p><a href="../index1.html"><i class="fa-solid fa-arrow-right-from-bracket"></i><b>Cerrar sesion</b> </p></a>   
                </div> 
            </div>
     
            
    <div class="ri">
        <div class="tit">
            <h2>Registro de nueva habitacion</h2>
        </div>
        <div class="pi">
            <div>
                <label>Nombre habitacion:</label>
                <br>   
                <input type="text" name="nombre"> 
                <br>
                
                
                <label>N camas</label>
                <br>
                <input type="number" name="tipo">
                <br>
                <labe>N huespedes</label>
                    <br>
                    <input type="number" name="tipo">
                
                    <br>
                    <label>Imagen principal:</label>
                    <br>   
                    <input type="text" name="nombre"> 
            </div>
            <div>
                <label>N habitacion</label>
                <input type="number" name="doc">
                <br>
                <label>Valor reserva:</label>
                <input type="text" name="apellidos">
                <br>
                <label>Imagen secundaria:</label>
                <input type="email" name="correo">
            </div>
            
           

            </div>
            <div class="fer">
                <label>Descripcion</label>
                <br>
                <textarea id="msg" name="user_message"></textarea>
                
                </div>
                <div class="l">
                    <input  name="genero"type="checkbox"><i class="fa-solid fa-radio"></i> 
                        <input name="genero"type="checkbox"><i class="fa-solid fa-tv"></i>
                        <input name="genero"type="checkbox"><i class="fa-solid fa-wifi"></i>
                        <input name="genero"type="checkbox"><i class="fa-solid fa-snowflake"></i>
                        <input name="genero"type="checkbox"><i class="fa-solid fa-bell-concierge"></i>
                        <input name="genero"type="checkbox"><i class="fa-solid fa-dumbbell"></i> 
                    </div>
                    <br>
                    <div class="pm">
                    <button class="o"><a href="" class="w">Cambiar</a></button>
                </div>
        </div>
        
    </div>
    </section>
      </body>
      </html>