<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>HOTELIA</title>
</head>
<body>
 <section id="formulario">
    <div class="conten">
    <div class="bien">
        <img src="../img/Hotelia horizontal blanco.svg" class="j">
        <br>
        <h1>Eres mas que 
            <br>
            bienvenido
        </h1>
    </div>
        <div class="dat">
            <div class="dat1">
                <div class="t">          
             <div>
                <div class="reg">
                   <h1>Registrate</h1>
                </div>
                <br>
            <label>Tipo de documento:</label>
            <br>   
            <select>
                <option>Escoja una opcion</option>
                <option>CC</option>
                <option>TI</option>
                <option>Extrangero</option>
            </select>
            <br>
            <label>Nombres:</label>
            <input type="text" name="tipo">
            <br>
            <label>Fecha de nacimiento:</label>
            <input type="date" name="fecha">
            <br>
            <label>Email:</label>
            <input type="email" name="correo">
            <br>
            <label>Pais de origen:</label>
            <br>
            <select>
                <option>Colombia</option>
                <option>Argentina</option>
                <option>Peru</option>
            </select>
            <br>
            <label>Contraseña:</label>
            <input type="password" name="con">
        </div>
         <div>
            <label>Numero de documento:</label>
            <input type="number" name="doc">
            <br>
            <label>Apellidos:</label>
            <input type="text" name="apellidos">
            <br>
            <label>Genero</label>
            <br>
            <div class="l">
                <input  name="genero" type="radio"> Mujer 
                    <input name="genero" type="radio">Hombre
                    <input name="genero" type="radio">Otro 
            </div>
            <br>
            <label>Telefono de contacto:</label>
            <input type="text" name="telefono">
            <br>
            <labvel>Foto:</labvel>
            <input type="file" name="foto">
            <br>
            <label>Confirmar contraseña:</label>
            <input type="password" name="contr">
            <br>
                <input type="checkbox" name="chkestado" id="chkestado"><a href="" class="terminos" > terminos y condiciones</a>
    <div class="ventana">
        <div class="modal_con">
            <h1>Terminos y Condiciciones</h1>    
        <p>Estos terminos de servicio reflejan la forma
            de trabajar de google como empresa, las
            leyes por las que nos regimos y determinados 
            aspectos que siempren hemos creido que son
            ciertos. Por ello, estos terminos de servicios a
            yudan a definir la relacionque tiene Google
            contigo cunado interatuas con nuestros
            servicios. Por ejemplo estos terminoos
            incluyen las siguientes seccione:
            Que puedes esperar de nosotros,donde se  
            describecomo proporcionamos yudandesarrollamos nuestros servicio,
            Loque esperamos de ti, donde se establecen 
            ciertas reglas para utlizar nuestros servicios.  
        </p>
        <a href="" class="cerrar">Aceptar</a>
    </div>
    </div>
    <script src="../js/modal.js"></script>
    <button class="blogin"><a href="login.html" class="r">Ingresar</a></button>
         </div>
         
        </div>
        
    </div>
    
</div>

 </section>

    


        