<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>HOTELIA</title>
</head>
<body>
        <section id="listado">
            <div class="lis">
            <div class="ha">
                <div class="lis1">
                    <br>
                    <p><img src="../img/hotelia campana.svg"><b>otelia</b></p>
                    <br>
                    <br>
                <p><img  src="../img/p.png "> <b>Angie Vargas<br>
                   angievargas2@gmail.com</b></p> 
                 </div>   
                <div class="ico4">
                   <p><a href="busqueda.html"><i class="fa-solid fa-bed"></i><b>Habitaciones</b><a></p>
                   <p><i class="fa-solid fa-bed"></i><b>Registrar habitaciones</b></p>
                   <p><i class="fa-solid fa-pencil"></i><b>Editar perfil</b></p>
                   </div>
                <div class="hi1">
                <p><i class="fa-solid fa-arrow-right-from-bracket"></i> <b>Cerrar sesion </b></p>   
                </div> 
                
           
           </div>
           <div class="ly">
            <div class="tit1">
                <h1>Habitaciones</h14>
            </div>
            <div class="ly1">
                <label>Categoria</label>
            <br>
            <select>
                <option>Todas</option>
                <option>Ninguna</option>
            </select>
            <label>Estado</label>
            <br>
            <select>
                <option>Todas</option>
                <option>Ninguna</option>
            </select>
            </div>
            <div class="opc1">
                <div class="diego3">
                    <div class="m2">
                        <div>
                        <img width="170" height="150" src="../img/hab.jpg">
                        <h1 class="ini1">habitacion doble
                        </h1>
                        </div>
                        <br>
                        <br>    
                        <div>
                        <h3>$128.000</h3>
                    </div>
                        <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Purus oranre dui,antes in lorem imspsum</p>
                    </div>
                    </div>
                    <br>
                    <div class="bt">
                    <button class="b1">modificar</button>
                    <button class="b2">inactivar</button>
                    </div>
                </div>
                <div class="diego3">
                    <div class="m2">
                        <div>
                        <img width="170" height="150" src="../img/hi.jpg">
                        <h1 class="ini1">habitacion doble
                        </h1>
                        </div>
                        <br>    
                        <div>
                        <h3>$250.000</h3>
                    </div>
                        <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Purus oranre dui,antes in lorem imspsu</p>
                    </div>
                    <br>
                    </div>
                    <div class="bt">
                        <button class="b1">modificar</button>
                        <button class="b2">inactivar</button>
                        </div>
                </div>
                <div class="diego3">
                    <div class="m2">
                        <div>
                        <img width="170" height="150" src="../img/he.jpg">
                        <h1 class="ini1">habitacion doble
                        </h1>
                        <div class="ini2" >
                            <h1>Reservada</h1>
                        </div>
                        </div>
                           
                        <div>
                        <h3>$166.000</h3>
                    </div>
                        <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Purus oranre dui,antes in lorem imspsu.</p>
                    </div>
                    </div>
                    <br>
                    <div class="bt">
                        <button class="b1">modificar</button>
                        <button class="b2">inactivar</button>
                        </div>
                </div>

        </div>
        <div class="opc1">
            <div class="diego3">
                <div class="m2">
                    <div>
                    <img width="170" height="150" src="../img/hab.jpg">
                    <h1 class="ini1">habitacion doble
                    </h1>
                    </div>
                    <br>    
                    <div>
                    <h3>$220.000</h3>
                </div>
                    <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Purus oranre dui,antes in lorem imspsum</p>
                </div>
                </div>
                <br>
                <div class="bt">
                <button class="b1">modificar</button>
                <button class="b2">inactivar</button>
                </div>
            </div>
            <div class="diego3">
                <div class="m2">
                    <div>
                    <img width="170" height="150" src="../img/hi.jpg">
                    <h1 class="ini1">habitacion doble
                    </h1>
                    <div class="ini2" >
                        <h1>Reservada</h1>
                    </div>
                    </div>
                    
                    <br>    
                    <div>
                    <h3>$108.000</h3>
                </div>
                    <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Purus oranre dui,antes in lorem imspsu</p>
                </div>
                <br>
                </div>
                <div class="bt">
                    <button class="b1">modificar</button>
                    <button class="b2">inactivar</button>
                    </div>
            </div>
            <div class="diego3">
                <div class="m2">
                    <div>
                    <img width="170" height="150" src="../img/he.jpg">
                    <h1 class="ini1">habitacion doble
                    </h1>
                    </div>
                       
                    <div>
                    <h3>$195.000</h3>
                </div>
                    <div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Purus oranre dui,antes in lorem imspsu.</p>
                </div>
                </div>
                <br>
                <div class="bt">
                    <button class="b1">modificar</button>
                    <button class="b2">inactivar</button>
                    </div>
            </div>

           </div>
           
           </div>
           
           
        
        </section>
       
           
            
              </body>
              </html>