<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>HOTELIA</title>
</head>
<body>
 <section id="login">
    <div class="lo">
        <img src="../img/Hotelia horizontal blanco.svg" class="imagen">
        <i class="fa-solid fa-user"></i>
        <br>
        <form>
            <label for="uusario">Usuario</label>
            <br>
            <input type="text">
            <label for="contraseña">Contraseña</label>
            <br>
            <input type="password">
            <button class="blogin"><a href="dashboard.html" class="r">Ingresar</a></button>
            <br>
            
            <p>¿No tienes cuenta?<a href="dashboard.html" class="g">registrate aqui.</a></p>
        </form>
    </div>
 </section>
    
</body>
</html>