<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>HOTELIA</title>
</head>
<body>
        <section id="reserva">
            <div class="hab">
            <div class="ha">
                <div class="hab1">
                    <p><img src="../img/hotelia campana.svg"><b>otelia</b></p>
    <br>
    
               <p><img  src="../img/p.png "> <b>Angie Vargas<br>
                angievargas2@gmail.com</b></p> 
                 </div>   
                <div class="ico1">
                   <p><a href="list-hab.html"><i class="fa-solid fa-bed"></i><b>Habitaciones</b></p></a>
                   <p><a href="busqueda.html"><i class="fa-solid fa-bed"></i><b>Buscar</b></p></a>
                   <p><a href="dashboard.html"><i class="fa-solid fa-pencil"></i><b>Editar perfil</b></p></a>
                   </div>
                <div class="hi">
                <p><a href="../index1.html"><i class="fa-solid fa-arrow-right-from-bracket"></i><b>Cerrar sesion</b> </p></a>   
                </div> 
            </div>


           

                
              
               
                 <div class="tu">
                    
                <div class="tu1">
                   
                   <div class="tu2">
                   
                    <label>Fecha:</label>
                    <br>
                    <input type="text" name="tipo" value="10/septiembre/2022">
                    <br>
                    <br>
                    <br>
                    <br>
                   
                        <label>Adultos:</label>
                       <br>
                        <input type="text" name="nombre" value="2">
                        <br>
                        <br>
                        <br>
                        <br>
                        
                        <label>Niños:</label>
                      <br> 
                    <input type="text" name="nombre" value="1"> 
                    <br>
                    <br>
                    <br>
                    <br>
                    <button class="tri">Guardar</button>
                    
                    </div>
                  
                </div>
               
               
                <div class="slider"> 
                    <h1>Reserva:</h1>
                    <ul>
                        <li><img  src="../img/hab.jpg" alt=""></li>
                        <li><img  src="../img/ca.jpeg" alt=""></li>
                        <li><img  src="../img/hab.jpg" alt=""></li>
                        <li><img  src="../img/hab.jpg" alt=""></li>
                        <li><img  src="../img/hab.jpg" alt=""></li>
                    </ul>
                    <br>
                    <h2>tus servicios son:</h2>
                    <br>
                    <div class="we">
                       <i class="fa-solid fa-radio " style="color: #0B3860"></i> 
                            <i class="fa-solid fa-tv" style="color: #0B3860"></i>
                            <i class="fa-solid fa-wifi" style="color: #0B3860"></i>
                            <i class="fa-solid fa-snowflake" style="color: #0B3860"></i>
                            <i class="fa-solid fa-bell-concierge" style="color: #0B3860"></i>
                           <i class="fa-solid fa-dumbbell" style="color: #0B3860"></i> 
                        </div> 
            
        </div>
        
       
       
        
        </div> 
        </section>
       
           
    
</body>
</html>